# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules
bower_components

/graphics/advertisements/*
/graphics/img/boxart/*
!/graphics/img/boxart/default.png
!.empty_directory

