<link rel="import" href="../../../components/polymer/polymer.html">
<link rel="import" href="../../../components/iron-image/iron-image.html">

<dom-module id="sponsor-display">
    <style>
        :host {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            background: url("sponsor-background.png");
        }

        #wrapper {
            position: relative;
            width: 100%;
            height: 100%;
        }

        iron-image {
            will-change: opacity;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        #nextHorizontal,
        #nextVertical {
            opacity: 0;
        }
    </style>

    <template>
        <div id="wrapper">
            <iron-image id="currentVertical" sizing="contain" preload></iron-image>
            <iron-image id="nextVertical" sizing="contain" preload></iron-image>
            <iron-image id="currentHorizontal" sizing="contain" preload></iron-image>
            <iron-image id="nextHorizontal" sizing="contain" preload></iron-image>
        </div>
    </template>
</dom-module>

<script src="sponsor-display.js"></script>
